html,body{
    margin:0;
    padding:0;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 20px 0 20px;
    text-align: center;
    background-color: rgba(125,166,207,0.91);
    height:105px;
}

.header a {
    display: table;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.header a img {
  max-width: 112px;
  max-height: 91px;
}

.slogan {
    font-size: 34px;
    color:#fff;
    font-weight:400;
}
#account {
    margin-top: 32px;
    float: right;
}

#banner-contain {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-image: url(/resources/img/about/advertise/adv.jpg);
    background-position: -56px;
    background-repeat: no-repeat;
}

#banner-contain img {
    float: right;
    margin-top: 20px;
    width: 410px;
    margin-right: 178px;
}
#banner-cont {
    /*margin-left: 12.7%;
    padding-top: 50px;*/

}
.baner-txt{
    font-size: 21px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hero-banner-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#started { width: 260px; }

#started a { width: 250px; }

.content { width: 100%; }

.content h1,
.container2 h1 {
    text-align: center;
    color: #268abf;
    font-size: 32px;
    padding: 45px 0 20px;
    margin: 0;
}

#izads,
#izads2,
.vertical_ads{
    color:#fff;
    margin-top:20px;
    width: 250px;
    margin-bottom: 15px;
    font-size: 18px;
}

.box1 {
	width: 100%;
	display: block;
	margin: 0 auto;
	background-color: rgba(135, 173, 210, 0.17);
	padding: 15px;
}

.box-col { margin-top: 20px; }

.box-col:last-child { margin-right: 0; }

.block_title {
	font-size: 20px;
	color: #268abf;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-col {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.box-col img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.box-col p {
	text-align: center;
	font-size: 18px;
	color: #777;
}

.container2 {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.list-cont { font-size: 20px; }

.list-cont i {
	float: left;
	margin: 0 12px 0 0;
	color: #268abf;
}

.list-elements { display: block; }

.list-cont ul {
	list-style: none;
	margin-bottom: 50px;
	padding: 15px 15px 0;
}

#bottom-btn {
    margin: 0 auto;
    margin-top: -30px;
    margin-top: -45px;
    margin-bottom: -20px;
}

#calc-frame .col-lg-3,
#calc-frame .col-lg-9 { padding: 0; }

.adv-buttons-wrapper { text-align: center; }
