@charset "utf-8";
@import '/resources/css/fonts/myriad/myriad.css';
@import '/resources/font-awesome-4.3.0/css/font-awesome.min.css';

body {
	font-family: MyriadPro, Helvetica, Verdana, Arial sans-serif;
	color: #555;
}

body .container-fluid { padding: 0; }

body a { color: blue; }

ul {
	margin: 0;
	padding: 0;
}

#wrapper b,
#wrapper strong { font-weight: bold; }

#wrapper{
	max-width: 600px;
	position:relative;
}

#wrapper .btn {
	border-radius: 0;
	height: 35px;
	padding: 5px 9px;
	margin-bottom: 0;
}

#mapblock, #bangblock { margin: 15px 0 30px; }

#topmenu-block { margin-bottom: 25px; }

#top-submenu1 { display: none; }

#topmenu-items {
	padding: 0;
	width: 100%;
	text-align: center;
}

#topmenu-items li { display: inline-block; }

#topmenu-items .submenu-list { display: block; }

#topmenu-items .br {
	height: 1px;
	display: block;
}

#topmenu-items li a:hover { cursor: pointer; }

#search-nav-items {
	list-style: none;
	padding: 0;
}

#search-nav-items li { display: inline-block; }

#logo-item {
	position: absolute;
	width: 55px;
	margin-top: 2px;
}
#filter_name{
	text-align: center;
	padding-top: 15px;
}
.logo-filter {
	position: relative;
	display: inline-block;
}
.logo-filter img{height: 30px;}
#logo-link { display: block; }
#logo-link img {
	vertical-align: baseline;
	height: 48px;
	margin-top: -2px;
}
#logo img {
	height: 44px;
	padding-left: 10px;
}
#search-block { height: 38px; }

#search-item {
	padding-left: 50px;
	max-width: 600px;
	width: 93%;
}

/*--- Search Form ---*/
#head-wraper {display: flex;}
#amazon_ads{
	margin-bottom: 10px;

}
#search-form {
	clear: both;
	display: block;
	width: calc(100% - 75px);
	margin: 0;
	padding-left: 5px;
	position: relative;
	overflow: hidden;
}

#search-form .search-btn {
	width: 35px;
	height: 35px;
	padding: 8.5px 0 0 0;
	color: #888;
	text-align: center;
	font-size: 22px;
	text-decoration: none;
	position: absolute;
	top: 4px;
	right: 5px;
	bottom: 0;
	left: auto;
	z-index: 50;
}

#search-form .search-btn:focus,
#search-form .search-btn:active { text-decoration: none; }

#search-form > input#input-search {
	background: #fff;
	width: 100%;
	height: 45px;
	padding: 6px 78px 6px 12px;
	border: 1px solid #ccc;
	color: #555;
	font-size: 19px;

	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#search-form > input#input-search:focus {
	border-color: #297beb;
	outline: 0;

	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.icon-inert {
	display: block;
	background: url(/resources/img/nav/menu-alt.png) no-repeat scroll 0 center transparent;
	width: 24px;
	height: 21px;
	margin: 7px;
}
#clear {
	background: transparent;
	padding: 0;
	border: 0 none;
	position: absolute;
	top: 2px;
	right: 47px;
	bottom: 0;
	left: auto;
	border-radius: 0;
	padding-top: 8px;
	color: #757575;
	cursor: pointer;
	font: 40px/27px arial,sans-serif;
}
/*--- end. Search Form ---*/

/*--- Active Menu ---*/
ul.active-menu {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0 10px;
	list-style: none;
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	/*text-justify: newspaper;*/
	zoom: 1;
	text-align-last: justify;
}

#cts-menu {
	overflow: scroll;
	white-space: nowrap;
	/*height: 40px;*/
}
#cts-menu::-webkit-scrollbar { width: 0 !important }
ul.active-menu:after {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}
#bloc_menu {
	display: block;
	height: 40px;
	width: 89%;
	/* margin: 0 auto; */
	margin-left: 10px;
}
ul.active-menu li {
	display: inline-block;
	text-align: left;
	color: #297beb;
	line-height: normal;
	font-size: 16px;
	vertical-align: top;
	padding: 5px;
	padding-right: 10px;
}
/*.cat-select {
	float: right;
	margin-right: 5px;
	height: 45px;
	width: 55px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	padding: 5px 10px 8px 11px;
	border-left: none;
	border-top-right-radius: 6px;
	background: linear-gradient(#fff, #f5f5f5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}*/
.cat-select {
	float: right;
	height: 40px;
	line-height: 2;
	width: 55px;
	padding: 2px 10px 8px 11px;
	background: #eeeff1;
	margin-right: 6px;
}
.cat-select a {
	color: #297beb;
	text-decoration: none;
	font-size: 16px;
}

.cat-select img {width: 34px;}

ul.active-menu > li.active > a {
	padding-bottom: 4px;
	border-bottom: 2px solid #297beb;
}

ul.active-menu > li > a {
	color: #297beb;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 7px;
}

ul.active-menu > li > a.show-hide-sub-menu {
	margin-left: 4px;
	vertical-align: middle;
}
/*--- end. Active Menu ---*/

/*--- Sub Menu ---*/
ul.sub-menu {
	display: block;
	width: 100%;
	margin: 0;
	padding: 15px 5px 8px;

	column-width: 150px;
	-moz-column-width: 150px;
	-webkit-column-width: 150px;
	column-count: 6;
	-moz-column-count: 6;
	-webkit-column-count: 6;
	column-gap: 0;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
}

ul.sub-menu > li { list-style: none; }

ul.sub-menu > li.active > a { font-weight: bold; }

ul.sub-menu > li > a {
	display: block;
	padding: 4px 6px;
	font-size: 17px;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.sub-menu > li > a > img {
	max-width: 14px;
	max-height: 14px;
	margin-right: 6px;
}
/*--- end. Sub Menu ---*/

#search-tool {
	width: 32px;
	min-width: 32px;
	float: right;
}

#search-tool .btn {
	border-radius: 0;
	height: 35px;
	padding: 5px 8px;
	margin-bottom: 0;
	color: #999;
}

#autocomplete {
	display: none;
	position: absolute;
	top: 55px;
	right: 9px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	padding-left: 11px;
	/* width: calc(100% - 130px); */
	width: calc(100% - 80px);
	overflow-x: hidden;
	z-index: 999999900;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#autocomplete li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
	font-size: 20px;
	font-weight: normal;
}

.selected { background-color: #dedede; }

li.autocomplete:hover { background-color: #dedede; }

#middle {
	/*padding-top: 15px;*/
	overflow: hidden;
}

/* TOP NEWS */
#top-news1 article,
#top-news2 article { margin-bottom: 35px; }

#top-news1 article h3,
#top-news2 article h3 {
	font-size: 16px;
	overflow: hidden;
	height: 18px;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
}

#top-news1 article .ptitles,
#top-news2 article .ptitles {
	overflow: hidden;
	height: 18px;
}

#top-news1 article .art-news-descr,
#top-news2 article .art-news-descr {
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
}

#top-news1 article .art-news-sublink,
#top-news2 article .art-news-sublink {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* MAPBLOCK */
#mapblock .images-list { padding: 0; }

#mapblock .images-list li {
	width: 50%;
	list-style: none;
	display: inline-block;
}

#mapblock .images-list li .img-wrapper {
	width: 100%;
	position: relative;
	padding: 1px;
	overflow: hidden;
}

#mapblock .images-list li img {
	width:100%;
	/*height:100%;*/
}

/* WIKIBLOCK */
#wikiblock { margin-bottom: 20px; }

#wikiblock article h3 {
	height: 18px;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 0;
}

#wikiblock article p {
	margin: 0;
	font-size: 12px;
	max-height: 66px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#wikiblock .subtitle {
	list-style: none;
	padding: 0;
	overflow: hidden;
	height: 16px;
	white-space: nowrap;
}

#wikiblock .subtitle li {
	display: inline-block;
	font-size: 12px;
}

/* BANGBLOCK*/
#bangblock li > div {
	margin-bottom: 5px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

#bangblock .bangs-list .bang-title {
	font-weight: bold;
	font-size: 16px;
}

#bangblock .bangs-list .bang-item {
	margin-bottom: 5px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

#bangblock .bangs-list  img {
	width: 20px;
	height: 20px;
}

#bangblock .bangs-list .bang-item span { margin-right: 7px; }

/* NEWSBLOCK */
.owls-wrapper { margin: 20px 0 20px 0; }
.owls-wrapper h3 { font-size: 16px; }
.owls-wrapper .img-litera {
	float: left;
	margin-right: 10px;
	height: 50px;
}

.owls-wrapper .img-litera img { height: 100%; }

.owls-wrapper .art h3.art-news-title {
	height: 18px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	font-weight: normal;
}

.owls-wrapper .art-news-sublink {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.owls-wrapper .art .art-news-descr {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#news-text > h3 { margin: 0 0 5px 0; }

#news-text article,
#blogs-text article { margin-bottom: 10px; }

/* BLOGBLOCK */
#blogblock { margin: 20px 0 20px 0; }

#blogblock h3 { font-size: 16px; }

#blogblock .img-litera {
	float: left;
	margin-right: 10px;
}

#blogblock .art h3.art-news-title {
	height: 18px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	font-weight: normal;
}

#blogblock .art-news-sublink {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#blogblock .art .art-news-descr {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#blog-text > h3 { margin: 0 0 5px 0; }

#blog-text article { margin-bottom: 10px; }

/* VIDEOBLOCK */
#videoblock {
	margin: 20px 0 20px 0;
}

#videoblock h3 { font-size: 16px; }

#videoblock .img-litera {
	float: left;
	margin-right: 10px;
}

#videoblock .art h3.art-news-title {
	height: 18px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	font-weight: normal;
}

#videoblock .art-news-sublink {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#videoblock .art .art-news-descr {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#videos-text > h3 { margin: 0 0 5px 0; }

#videos-text article { margin-bottom: 30px; }

#video-bing { min-height: 110px; }

#video-bing .videobing-list {
	list-style: none;
	padding: 0;
	height: 100%;
}

#video-bing .videobing-list li {
	display: inline-block;
	width: 25%;
}

#video-bing .videobing-list li a img {
	width: 99%;
	height: 100%;
}

#video-bing .videobing-list li .title {
	height: 56px;
	max-height: 60px;
	overflow: hidden;
	text-align: center;
}

#video-bing .videobing-list li .title .caption {
	height: 18px;
	padding-top: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* FAVES LIST */
.faves-list {
	display: inline-block;
	list-style:none;
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

.faves-list li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 5px #9c9c9c;
	-moz-box-shadow: 0 1px 5px #9c9c9c;
	box-shadow: 0 1px 5px #9c9c9c;
	color: #a3a3a3;
	background: #fafafa;
	padding: 5px 7px 5px 7px;
	text-decoration: none;
}

.faves-list li:nth-child(1n+1) {
	margin-right: 8px;
	margin-bottom: 8px;
}

.faves-list li a img {
	width:75px;
	height:25px;
}

.faves-list .video-item a img {
	display:block;
	width:102px;
	height:80px;
}

.faves-list .video-item {
	border: none !important;
	padding: 0 1px 0 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	width: 25%;
}

.faves-list .video-item .title { text-align: center; }

.faves-list .video-item .title .caption {
	height: 36px;
	overflow: hidden;
}

.faves-list .video-item .title .link {
	height: 18px;
	overflow: hidden;
}

.faves-list .video-item:last-child { padding-right: 0; }

.faves-list.other { margin-bottom: 0 !important; }

.faves-list h3 {
	margin-bottom: 5px !important;
	padding: 0;
}

/* FAVES */
.faves ul {
	padding: 0;
	width: 100%;
	margin: 0 0 5px 0;
}

.faves ul.nav { margin-top: 0 !important; }

#faves-tabs .nav-tabs li a {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.faves ul li,
.faves-block ul li {
	display: inline-block;
	position: relative;
	float: left;
	list-style: none;
}

.faves .blogblock {
	position: relative;
	width: 105%;
}

.faves .blogblock .symad {
	top: 10px;
	right: 25px;
}

.faves .tab-content ul li a img {
	width:70px;
	height:25px;
}

#favesblock { margin: 20px 0 20px 0; }

#favesblock .faves { margin-bottom: 15px; }

#favesblock .faves h3 {
	font-size: 18px;
	margin: 0 0 5px 0;
	color: #777;
}

#favesblock .faves .faves-block { margin-bottom: 25px; }

#favesblock .faves-list { margin-bottom: 25px; }

#favesblock .faves-list .shm {
	float: right;
	border: none;
	margin: 0 25px;
	color: blue;
}

#favesblock .faves-list .shm:hover { cursor: pointer; }

#favesblock .faves-list { margin-bottom: 0; }

#tabs .tab-content { width: 105%; }

.faves .nav > li > a {
	position: relative;
	display: block;
	padding: 2px 5px;
}

#videoblock .nav > li > a,
.owls-wrapper .nav > li > a,
#blogblock .nav > li > a {
	padding: 3px 6px 3px 6px;
	font-size: 12px;
}

#videoblock .tab-pane {
	margin-top: 7px;
	margin-bottom: -12px;
}

/* OTHERS */
.art-news-link-decor { color: green; }

.divider {
	margin: 0;
	color: #ececec;
}

.delim {
	margin: 0 4px 0 4px;
	color: #ccc;
}

.shm-block { text-align: right; }

.shm-block :hover { cursor: pointer; }

.shm {
	display: inline-block;
	border: none;
	margin: 0 20px;
	color: blue;
}
#top-news1 {margin-top: 35px;}
/* PAGINATOR */
.paginator {
	margin: 0 0 20px 0;
	text-align: center;
}

.paginator ul {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	text-align: center;

	height: 38px;
	white-space: nowrap;
	overflow: hidden;
}

.paginator ul li {
	position: relative;
	float: left;
	text-align: center;
	font-size: 13px;
	list-style: none;
}

.paginator ul li a { font-size: 18px; }

.pagination { border-radius: 0; }

.pagination > li:first-child > a,

.pagination > li:first-child > span { border-radius: 0; }

.paginator ul li.inactive {
	font-weight: bolder;
	color: #999;
}

.pagination > li > a, .pagination > li > span {
	padding: 6px 9px;
	margin-left: -1px;
	color: blue;
	border: none;
}

.nextinactive, .lastinactive,
.firstinactive, .previnactive { display: none; }

.statistic {
	margin: 0 auto;
	font-size: 1.1em;
	text-align: center;
}

.statistic span { margin: 0 5px; }

.statistic span img.dr {
	width: 20px;
	vertical-align: bottom;
}

/* ADS BLOCKS */
#amazon_unic,
#amazon_unic2 {
	width: 79%;
	margin: 0 auto;
}

#amazon_unic {
	margin-top: 15px;
	margin-bottom: 40px;
}

/*.ads-block { margin: 20px 0 20px 2px; }*/

.ads-block .ads-infot-title {
	text-align: right;
	margin-right: -11%;
}

.ads-infot-title .sp-info-img img {
	height: 16px;
	width: 16px;
}

.ads-block ul {
	padding: 0;
	min-height: 52px;
}

.ads-block .faves-list li {
	border: 0;
	padding: 2px;
	max-width: 130px !important;
	height: 190px;
	margin: 4px;

}
#owl-amazon .owl-controls .owl-prev{
	height: 190px;
	top: -79px;
	left: -36px;
	line-height: 6;
}
#owl-amazon .owl-controls .owl-next{
	height: 190px;
	top: -79px;
	right: -36px;
	line-height: 6;
}

.ads-block .faves-list li .ads-img-block {
	text-align: center;
	width: initial;
	margin: 5px 0 5px 0;
}

.ads-block .faves-list li .ads-price-block {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

.ads-block .faves-list li .ads-title-block {
	font-size: 12px;
	text-align: center;
	max-height: 36px;
	overflow-y: hidden;
}

.ads-block .sp-info-title { margin-left: 5px; }

.ads-block .star-img img {
	width: 16px;
	height: 16px;
}

.ads-block .faves-list li a img {
	width: 100%;
	height: 96px;
}

/* SIMILAR BLOCK */
#similar-search h3 {
	color: #777;
	font-size: 18px;
}

#similar-search {
	margin-bottom: 20px;
	overflow: hidden;
}

#similar-search ul.columns {
	padding: 0;
	width: 45%;
	display: inline-block;
}

#similar-search ul li {
	max-height: 22px;
	font-size: 16px;
	overflow: hidden;
}

#similar-search .first { margin-right: 20px; }

#gads {
	margin: 30px 0 20px 0;
	width: 100%;
}

.drop {
	position: absolute;
	top: 50px;
	right: 9px;
	float: left;
	padding: 5px 0;
	margin: 2px 0 0;
	color: #999;
}

h3.bugfix-title {
	margin: 0;
	padding: 0;
}

#rsads-wrapper.redmine { padding-top: 5px; }
#rsads-wrapper .popover-content { padding: 0; }
#rsads-wrapper .panel.panel-default {
	border-width: 1px 0;
	border-radius: 0;
}

#redmine-blog {
	text-decoration: none;
	outline: none;
	color: #297beb !important;
}

.mob-fil {
	padding-left: 4px;
	margin-left: 1px;
}

.btn-default { color: #999; }

/* menu filters */
@media screen and (min-width: 320px) and (max-width: 325px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: left;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right: -0.5%;
		color: #555;
		margin-top: -12.2%;
	}

	.btn-default { color: #999; }

	li.ul_second { font-size: 13px !important; }
}

@media screen and (min-width: 660px) and (max-width: 660px) {
	#search-item { width: 89%; }

	.icons-menu {
		float: right;
		margin-right: 1%;
		color: #555;
		margin-top: -6.4%;
	}
}

@media screen and (min-width: 360px) and (max-width: 400px) {
	.icons-menu {
		float: right;
		margin-right: 1%;
		color: #555;
		margin-top: -10.8%;
	}
}

@media screen and (min-width: 530px) and (max-width: 535px) {
	.icons-menu {
		float: right;
		margin-right: 5%;
		color: #555;
		margin-top: -7.3%;
	}
}

@media screen and (min-width: 360px) and (max-width: 560px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right: 1%;
		color: #555;
		margin-top: -11.0%;
	}

	.btn-default { color: #999; }

	#search-item { width: 94%; }
}

@media screen and (min-width: 531px) and (max-width: 540px) {
	.icons-menu {
		float: right;
		margin-right: 6%;
		color: #555;
		margin-top: -7.3%;
	}
}

/*Iphone 6 */
@media screen and (min-width: 375px) and (max-width: 390px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right: -0.5%;
		color: #555;
		margin-top: -10.5%;
	}

	.btn-default { color: #999; }
}

@media screen and (min-width: 411px) and (max-width: 420px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right:0.5%;
		color: #555;
		margin-top: -9.5%;
	}

	.btn-default { color: #999; }
}

@media screen and (min-width: 435px) and (max-width: 440px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	.icons-menu {
		float: right;
		margin-right:0.5%;
		color: #555;
		margin-top: -9.0%;
	}

	.btn-default { color: #999; }
}

@media screen and (min-width: 550px) and (max-width: 575px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	.icons-menu {
		float: right;
		margin-right:0.5%;
		color: #555;
		margin-top: -6.8%;
	}

	.btn-default { color: #999; }
}

@media screen and (min-width: 560px) and (max-width: 565px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	.icons-menu {
		float: right;
		margin-right:0.5%;
		color: #555;
		margin-top: -12.8%;
	}

	.btn-default { color: #999; }
}

@media screen and (min-width: 600px) and (max-width: 670px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	.icons-menu {
		float: right;
		margin-right: 6.5%;
		color: #555;
		margin-top: -6.4%;
	}

	.btn-default { color: #999; }

	#topmenu-block { width: 92% !important; }
}

/*-- iPad --*/
@media screen and (min-width: 730px) and (max-width: 970px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right: -0.5%;
		color: #555;
		margin-top: -6.4%;
	}

	.btn-default { color: #999;	}
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
	#topmenu-items {
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#search-tool { margin-top: -15%; }

	.icons-menu {
		float: right;
		margin-right: -1.1%;
		color: #555;
		margin-top: -6.4%;
	}

	.btn-default { color: #999; }
}

#topmenu-block {
	background-color: #F2F2F2;
	padding: 5px;
	width: 91%;
}

#topmenu-items {
	text-align: justify;
	text-align-last: justify;
	text-transform: uppercase;
}

.ul_hide { color: #eeeff1 !important; }

.menus { color: #B8B7B7; }

.ricons { display: none; }

#news-text .underlinedh3 a,
#blogs-text .underlinedh3 a,
#videos-text .underlinedh3 a {
	font-size: 19px;
	text-decoration: underline;
}

/*-- Start New Design --*/
#header {
	background-color: #eeeff1;
	margin: 0;
	padding-top: 10px;
}

#header a.logo {
	display: table;
	padding: 0 5px 10px;
	text-decoration: none;
}

#header a.logo.center {
	margin: 0;
	text-align: left;
}

@media screen and (min-width: 319px) {
	#header a.logo.center {
		margin: auto;
		text-align: center;
	}
}

#header ul.submenu {
	float: right;
	height: 39px;
	margin: 0;
	padding: 6px 5px 0 0;
	text-align: right;
}

#header ul.submenu > li {
	display: inline-block;
	list-style: none;
}

#header ul.submenu > li.pm { margin-right: 3px; }

#header ul.submenu > li.pm.hide { display: none; }

#header ul.submenu > li > a { display: table; }

#header ul.submenu > li > a > i {
	color: #297beb;
	font-size: 24px;
}

img.nLogoNews { width: 142px; }
img.nLogoimages { width: 197px; }
img.nLogovideo { width: 197px; }
img.nLogoblog { width: 142px; }
img.nLogoforum { width: 213px; }
img.nLogohealth { width: 197px; }
img.nLogofood { width: 162px; }
img.nLogomusic { width: 177px; }
img.nLogoentertainment { width: 197px; }
img.nLogopets {	width: 147px; }
img.nLogoscience { width: 208px; }
img.nLogospotrs { width: 197px; }
img.nLogotech { width: 147px; }
img.nLogotravel { width: 197px; }
/*-- end --*/

#content { margin: 0 5px; }

.hide { display: none; }

#top {
	cursor: pointer;
	position: fixed;
	bottom: 64px;
	right: 10px;
	display: none;
	border-radius: 50%;
	width: 50px;
	z-index: 999;
	background-color: #fff;
	color: #8c8888;
	box-shadow: 0 0 10px #716e6e;
	height: 50px;
	padding: 10px 14px;
	font-size: 24px;
	opacity: 0.5;
}
#soc_icon{color: rgb(0, 0, 0);}

/* RSS TEXT */
.owls-wrapper {
	height: auto;
	margin-bottom: 35px;
	width: 81%;
	margin: 0 auto;
	padding-left: 8px;
}

.owls-wrapper h3 {
	margin: 0;
	font-size: 18px;
	text-align: center;
	padding-top: 5px;
}

.owls-wrapper .art {
	margin-bottom: 0 !important;
	/*padding: 15px;*/
	width: 130px;
	border-radius: 6px;
	height: 176px;
}

.owls-wrapper .art-title {
	height: 82px !important;
	top: -74px;
	overflow: hidden !important;
	position: relative;
	background-image: linear-gradient(0deg, rgba(35, 33, 33, 0.9) 72%, transparent 100%);
	text-align: left;
	font-size: 16px !important;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-left: 5px;
	padding-top: 2px;
	line-height: 1.3;

	text-overflow: ellipsis;
	white-space: normal !important;
	font-weight: 500 !important;
}

.owls-wrapper .art-title a {
	color: #fff;
	font-weight: 600;
}

.owls-wrapper .art .img {
	margin: 5px 0 15px 0;
	text-align: center;
	overflow: hidden;
}

.data {
	/*height: 195px;*/
}

.owls-wrapper .art .img > img {
	border-radius: 6px;
	width: 130px;
	height: 130px;
}

.owls-wrapper .art-descr {
	display: inline-block;
	width: 100%;
	height: 79px;
	line-height: 20px;
	overflow: hidden;
	text-align: justify;
}

.owls-wrapper .art .pub-link { color: green; }

.owls-wrapper .art .art-footer {
	height: 44px;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
}

.owls-wrapper .art .art-footer .art-sublink {
	margin-top: 4px;
	text-align: center;
}

.owls-wrapper .art .art-footer .art-sublink > span {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.owls-wrapper > div {
	position: relative;
	display: inline-block;
	width: 205px;
}

.owls-wrapper .owl-buttons { margin-top: -13px !important; }

.owls-wrapper .owl-buttons .owl-prev {
	height: 152px;
	margin-left: -42px !important;
	opacity: 1 !important;
	width: 33px;
}

.owls-wrapper .owl-buttons .owl-next {
	height: 152px;
	margin-right: -35px !important;
	opacity: 1 !important;
	width: 33px;
}

#owl-frss { padding: 0; }

.owls-wrapper {
	height: auto;
	margin-bottom: 35px;
	width: 81%;
	margin: 0 auto;
	padding-left: 8px;
}
ul.owls-wrapper.ow-04 {
	max-height: 650px;
	overflow: hidden;
}
ul.owls-wrapper.ow-04.show_all_rss {
	max-height: 100% !important;
}
.show_more {
	background-color: #fff;
	padding: 5px 15px 5px 15px;
	font-size: 18px;
	margin: 0 auto;
	width: 153px;
	font-weight: 500;
	border-radius: 3px;
	color: #777;
	text-align: center;
	position: initial;
	display: none;
	border: 1px solid #ccc;
	margin-bottom: 21px;
}
.owls-wrapper > li {
	position: relative;
	display: inline-block;
	width: 100%;
}

.owls-wrapper > li > h3 > a {
	font-weight: normal;
	font-size: 20px;
	text-decoration: underline;
}

.owl-rss-wrapper {
	display: inline-block;
	width: 236px;
	height: 295px;
	position: relative;
}
.owl-rss-wrapper .owl-buttons{
	margin-top: -12px;
}
.owl-rss-wrapper:nth-child(odd) { margin-right: 20px; }

#keywords { padding-bottom: 20px; }

#keywords img { max-width: 100%; }

/*--- OWL Theme ----*/
.owl-controls .owl-buttons {
	display: block;
	width: 100%;
	height: 0;
	margin-top: 9px;
	position: relative;
	top: 50%;
}

.owl-controls .owl-buttons .owl-prev {
	float: left !important;
	text-align: right;
	left: 0;

	padding-right: 7px !important;
	border-left-width: 1px;
	border-radius: 2px 0 0 2px !important;
}

.owl-controls .owl-buttons .owl-next {
	float: right !important;
	text-align: left;
	right: 0;

	padding-left: 7px !important;
	border-right-width: 1px;
	border-radius: 0 2px 2px 0 !important;
}

.owl-controls .owl-buttons > div {
	background-color: #ffffff !important;
	width: 30px;
	height: 140px;
	padding: 0 !important;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0;
	color: #999 !important;
	line-height: 48px;
	font-size: 16px !important;
	font-weight: bold !important;
	text-decoration: none;
	position: absolute;
	top: -74px;
	-moz-border-radius: 32px;
	opacity: 0.65 !important;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div { cursor: pointer; }

.owl-controls .owl-buttons .owl-prev i.glyphicon { margin-right: 3px; }
.owl-controls .owl-buttons .owl-next i.glyphicon { margin-left: 3px; }
.owl-controls .owl-buttons i.glyphicon {
	font-size: 13px;
	color: #999;
	top: 47px !important;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: rgb(0, 0, 0);
}
.showSocialButtons{
	opacity:0.6;
	box-shadow: 0 0 10px #716e6e !important;
}
.showSocialButtons::before{
	content:"\f1e0";
	color:Black

}

#adv-ad {
	display: none;
	margin-bottom: 20px;
}
.adv_ico {
	float: right;
	margin-top: -18px;
	font-size: 18px;
	color: #555 !important;
}
.adv_ico img {
	padding-bottom: 6px;
	padding-right: 5px;
}
#adv-ad #izadv-link{
	width: 100%;
}

#adv-ad ._ak {
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	padding: 10px 0;
}

#adv-ad .ad-title {
	overflow: hidden;
	font-size: 19px;
	max-height: 36px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 5px;
}

#adv-ad .ad-domain {
	color: green;
	overflow: hidden;
	height: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 5px;
}

#adv-ad .ad-descr {
	overflow: hidden;
	height: 36px;
}

#adv-ad .izadv-link{
	width: 100%;
}
.go-to-filter {
	float: right;
	position: absolute;
	text-align: right;
	height: 150px;
	margin-right: -34px !important;
	right: 0;
	top: 32px;
	width: 30px;
	text-align: center;
	border-left-width: 1px;
	border-radius: 2px 0 0 2px !important;
	background-color: blue;
	color: #fff;
	line-height: 144px;
	font-size: 11px!important;
	text-decoration: none;
}
.hide_amazon{
	visibility: hidden;
	height: 0;
}
.preloader-container, .preloader-container_2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; }

.preloader-item {
	width: 280px;
	height: 100px;
	margin: 0 auto;
	/* background: #f6f9ff; */
	border-radius: 3px;
	position: absolute;
	z-index: 999;
}

.loader03 {
	width: 36px;
	height: 36px;
	border: 5px solid transparent;
	border-top-color: #0052ec;
	border-bottom-color: #0052ec;
	border-radius: 50%;
	position: relative;
	animation: loader-rotate 1s linear infinite;
	top: 60%;
	margin: -28px auto 0;
}
@keyframes loader-rotate {
	0% {
		transform: rotate(0deg); }
	100% {
		transform: rotate(360deg); }
}
@media screen and (min-width: 600px) {
	#autocomplete {width: 465px;}
}
footer{
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	margin: 0;
	padding: 0;
}
footer .nav{
	display: inline-block;
	width: 100%;
	text-align: center;
}
footer .nav > li {display: inline-block;}
footer .nav > li a{
	color: #777;
	font-size: 16px;
}
footer .nav > li a:hover{color:#555}
@media screen and (max-width: 320px) {
	.owls-wrapper .art {width: 114px;}
}