@charset "utf-8";
/*@import "/resources/css/fonts/corbert/corbert.css";
@import "/resources/font-awesome-4.3.0/css/font-awesome.min.css";*/

body{
  //font-family: 'Corbert', serif;
}

h1{
  color: #428bca;
}

#report-widget{
  max-width: 80%;
  margin: 5% auto 0 auto;
}

#icon{
  margin-right: 10%;
  color: #bbbbbb;
}

.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin-right: 10%;
}

.fa-stack-2x {
  font-size: 1em;
}
.fa-stack-1x {
  font-size: 0.6em;
}

.panel-heading h1{
  padding: 0;
  margin: 0;
}

.panel-footer p{
  margin: 0;
}

.message{
  color: #A0A0A0;
}

.descr {
  font-size: 0.9em;
  color: #A0A0A0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.fa-img{
  margin-right: 2%;
}

#sel-ip-group{
  width: 40%;
}

#sel-ip-group label{
  color: #A0A0A0;
}

span.value{
  color: green;
  font-weight: bold;
}

#ipreport table{
  width: 40%;
}

.bang-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.bang-list li{
  display: inline-block;
  margin: 10px;
}

.bang-list li img{
  width: 16px;
  height: 16px;
}

.bang-list li:nth-child(40n){
  clear: both;
  margin-bottom: 60px;
}


/* TABLE CSS */
#adv_ads .ad_id{
  min-width: 50px;
}

#adv_ads .ad_id, #adv_ads .ad_showed,
#adv_ads .ad_payment, #adv_ads .ad_total{
  text-align: center;
}

#adv_ads .ad_total{
    font-weight: 600;
}

#adv_ads .ad_keyword{
  min-width: 200px;
}

#adv_ads tfoot th {
  font-weight: normal;
}

#adv_ads tbody tr td{
  font-size: 12px;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}