.stn-header {
     margin: 20px auto;
 }
.logo:hover{
    text-decoration: none;
}
.header-name{
    font-size: 40px;
    font-weight: 600;
    background: -webkit-linear-gradient(#b9ecff, #0550b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
.header-logo{
    margin-top: -17px;
}
.hero-banner{
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    text-align: center;
    background-image: url("/resources/img/subpages/vertical-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.hero-banner h1{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    /* text-shadow: 1px 1px 2px black, 0 0 1em #777;*/
}
.category_title{
    text-align: center;
    color: #268abf;
    font-size: 20px;
    padding-top: 54px;
}
.stn-content{
    background-color: rgba(135,173,210,0.17);
}
.category_img{
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    border:  1px solid #2a90c5;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    background-color: #fff;
}
.category-wrapper_1 .category_img{background-image: url("/resources/img/subpages/vertical_1.png");}
.category-wrapper_2 .category_img{
    background-image: url("/resources/img/subpages/vertical_2.png");
}
.category-wrapper_3 .category_img{
    background-image: url("/resources/img/subpages/vertical_3.png");
}
.category-wrapper_4 .category_img{
    background-image: url("/resources/img/subpages/vertical_4.png");
}
.category_item{
    font-size: 36px;
    font-weight: 600;
    color: #777;
    text-align: left;
}
.category_descr{
    font-size: 20px;
    padding: 20px 0;
}
.category-wrapper_1,
.category-wrapper_2,
.category-wrapper_3,
.category-wrapper_4{
    padding-top: 60px;
}
.category-wrapper_4{
    padding-bottom: 60px;
}
.bottom-fix{
    background: none repeat scroll 0 0 rgba(125,166,207,0.91);
    width: 100%;
    height: 53px;
    color: #fff;
    line-height: 53px;
    text-align: center;
}
