@charset "utf-8";


#search-text{
  position: relative;
  width: 100% !important;
}
#search-images {
  display: none;
}

.left_container{
  width: 170px;
  min-width: 170px;
  float: left;
}
.center_container {
  width: 86% !important;
  min-width: 505px;
  float: left;
}

/* Videos-Filter List */
.videos-filter{
  margin-bottom: 20px;
}
.videos-list{
  list-style:none;
  margin: 0;
  padding:0;
  width: 100%;
  text-align: justify;
}
.videos-list li{
  position: relative;
  list-style: none;
  width: 160px;
  height: 190px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 30px 5px;
}
.videos-list li a img{
  display:block;
  width:100%;
  height:70%;
}
.videos-list:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both;
}

.video-item .title .caption{
  max-height: 42px;
  margin-top: 10px;
  overflow: hidden;
}

